<button onclick="topFunction()" id="backToTopBtn" title="Go to top">↑</button>

<script>
// Get the button
let mybutton = document.getElementById("backToTopBtn");

// When the user scrolls down 20px from the top, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 3 || document.documentElement.scrollTop > 3) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When clicked, scroll to top
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>