<nav class="site-nav">
  <div class="trigger">

    <a class="page-link" href="{{ '/archive/' | relative_url }}">archive</a>

    <a class="page-link" href="{{ '/recipes/' | relative_url }}">recipes</a>

    <a class="page-link" href="{{ '/sounds/' | relative_url }}">sounds</a>

    <a class="page-link" href="{{ '/works/' | relative_url }}">works</a>

    <a class="page-link"
       href="https://places.elliottxp.com"
       target="_blank"
       rel="noopener noreferrer">places</a>

  </div>
</nav>