---
layout: default
title: works
description: "a collection of works."
order: 1
---
<html lang="en">
<body class="body-class">
  <!-- Image grid container -->
  <!-- <div class="image-grid-container"> -->
  <!-- Image grid -->
  <div class="image-grid">
      <!-- add more image here -->
    <figure>
      <img src="/img/sunlight.png" alt="Sunlight - 2025" title="Sunlight - 2025" class="scaled-image" onclick="openModal(this)">
    </figure>
    <figure>
      <video
        class="scaled-image"
        autoplay
        muted
        loop
        playsinline
        width="350"
        onclick="openModal(this)">
        <source src="/img/finger.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </figure>
    <figure>
      <img src="/img/waverock.jpeg" alt="Wave Rock - 2024" title="Wave Rock - 2024" class="scaled-image" onclick="openModal(this)">
    </figure>
    <figure>
      <img src="/img/naan.jpeg" alt="naan - 2024" title="naan - 2024" class="scaled-image" onclick="openModal(this)">
    </figure>
    <figure>
      <img src="/img/pink.jpeg" alt="rain - 2024" title="rain - 2024" class="scaled-image" onclick="openModal(this)">
    </figure>
    <figure>
      <img src="/img/people.png" alt="people - 2025" title="people - 2025" class="scaled-image" onclick="openModal(this)">
    </figure>
    <figure>
      <video
        class="scaled-image"
        autoplay
        muted
        loop
        playsinline
        width="350"
        onclick="openModal(this)">
        <source src="/img/vase.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </figure>
    <figure>
      <img src="/img/pink.jpg" alt="the farm - 2025" title="the farm - 2025" class="scaled-image" onclick="openModal(this)">
    </figure>
    <figure>
      <img src="/img/pinkblue.jpg" alt="big edges - 2024" title="big edges - 2024" class="scaled-image" onclick="openModal(this)">
    </figure>
    <figure>
      <img src="/img/tree.jpg" alt="tree - 2023" title="tree - 2023" class="scaled-image" onclick="openModal(this)">
    </figure>
    <figure>
      <video
        class="scaled-image"
        autoplay
        muted
        loop
        playsinline
        width="350"
        onclick="openModal(this)">
        <source src="/img/tray.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </figure>
    <figure>
      <img src="/img/blocks.jpg" alt="blocks - 2023" title="blocks - 2023" class="scaled-image" onclick="openModal(this)">
    </figure>
    <figure>
      <img src="/img/raincoat.png" alt="raincoat - 2025" title="raincoat - 2025" class="scaled-image" onclick="openModal(this)">
    </figure>
  </div> 

  <!-- Modal structure -->
  <div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>

    <img id="modalImage" class="modal-content" style="display:none;">

    <video
        id="modalVideo"
        class="modal-content"
        controls
        autoplay
        loop
        muted
        style="display:none;">
    </video>

    <div id="caption"></div>
</div>

  <!-- JavaScript for modal functionality -->
  <script>
    function openModal(element) {

    const modal = document.getElementById("myModal");

    const modalImage = document.getElementById("modalImage");

    const modalVideo = document.getElementById("modalVideo");

    const caption = document.getElementById("caption");

    modal.style.display = "block";

    if (element.tagName === "IMG") {

        modalImage.style.display = "block";
        modalVideo.style.display = "none";

        modalImage.src = element.src;

    } else if (element.tagName === "VIDEO") {

        modalVideo.style.display = "block";
        modalImage.style.display = "none";

        modalVideo.src = element.querySelector("source").src;
        modalVideo.load();
        modalVideo.play();

    }

    caption.innerHTML = element.alt || element.title;
}

function closeModal() {

    document.getElementById("myModal").style.display = "none";

    const video = document.getElementById("modalVideo");

    video.pause();

}
  </script>
</body>
</html>
